:root {
    /* Colors */
    --color-text: #fff;
    --color-primary: #e8aa6c;
    --color-secondary: #4c512b;
    --color-dark: #2a2d16;
    --color-bg: #191c05;

    /* Fonts */
    --font-roboto: "Roboto";
}